.main{
	display:block;
	padding: 0 10%;
}
.input{
	text-align: center;
	margin:0 auto;
}
.output{
	text-align: center;
	margin:0 auto;

}
.text-area{
	width:10pm;
	height:3pm;
	resize: none;
}
#tips{
	display:block;
	text-align: center;
}
